.book-table {
    background-color: $color-bg-primary;
    padding-bottom: 45px;
}

.book-table-top {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid $color-br-primary;
}

.book-top-head-wrapper {
    width: 33%;
}

.section-head {
    .book-table-head {
        padding-left: 30px;
    }
}

.book-top-select-wrapper {
    width: 33.3%;
    text-align: left;
}

.book-top-label {
    margin-right: 10px;
}

.book-table-head {
    padding-left: 20px;
}

.primary-select {
    &.book-select-left {
        background-color: $color-bg-primary;
        padding-left: 30px;
        padding-right: 60px;
        background-position-x: 170px;
    }

    &.book-select-right {
        background-color: $color-bg-primary;
        padding-left: 30px;
        padding-right: 60px;
        background-position-x: 120px;
    }
}

// ---------------------------------- Table-main-----------------------------------

.people-list {
    width: 160px;
    white-space: nowrap;
}

.date-list {
    display: flex;
    overflow: hidden;
    padding: 0 10px;
    flex: 1;
}

.table-lists {
    display: flex;
}

.people-item {
    padding: 23px 0;
    border-bottom: 1px solid $color-br-primary;
    &:first-of-type {
        padding: 33px 0;
        .people-item-text {
            visibility: hidden;
        }
    }
    &:last-of-type {
        border-bottom: none;
    }
}

.people-item-text {
    @include ofl-ellipsis;
    padding-left: 30px;
    color: $color-dark;
}

.arrow-data-slider {
    position: relative;
    width: 44px;
    background-color: $color-bg-secondary;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: $br-md;
    cursor: pointer;
    &:hover {
        background-color: $color-bg-btn-3;
        color: $color-light;
        transition: all $trns-delay;
    }
    .icon-arrow-left,
    .icon-arrow-right {
        @extend .centered-axis-xy;
    }
}

.table-data-list {
    overflow: hidden;
    width: 100%;
    padding: 5px;
    -webkit-user-select: none;
}

.table {
    transition: margin $trns-duration-md;
}

.table-clock {
    padding: 30px 20px;
    color: $color-dark;
}

.table-row {
    border-bottom: 1px solid $color-br-primary;
    &:last-of-type {
        border-bottom: none;
    }
}

.table-data {
    position: relative;
    padding: 4px;
    &:last-of-type {
        padding-right: 0;
    }
}

.button-tertiary {
    &.disabled {
        background-color: $color-bg-btn-disabled;
        cursor: default;
        &:hover {
            opacity: 1;
        } 
    }
}

.sale-text {
    @include position(4px, 4px);
    color: $color-light;
    background: $color-bg-btn-2;
    padding: 4px 8px 7px 8px;
    font-size: 0.625em;
    border: none;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: $br-rounded;
    border-bottom-right-radius: $br-rounded;
}
