.white-popup-block {
    display: flex;
    justify-content: center;
}

.data-list {
    padding: 30px;
    background-color: $color-secondary;
    color: $color-light;
    border-top-left-radius: $br-default;
    border-bottom-left-radius: $br-default;
}

.form-wrapper {
    position: relative;
    background-color: $color-light;
    color: $color-text-primary;
    border-top-right-radius: $br-default;
    border-bottom-right-radius: $br-default;

    .primary-field {
        width: 100%;
    }

    .button-primary {
        padding: 12px 45px;
        margin-left: 20px;
        font-size: 1em;
        font-family: $font-tertiary;
        background-color: $color-tertiary;
        border-color: $color-tertiary;
        color: $color-light;
    }
}

.form-head {
    padding: 40px 0 30px 30px;
    font-size: 1.125em;
    font-family: $font-tertiary;
    color: $color-primary;
    border-bottom: 1px solid $color-br-primary;
}

.form-list {
    padding: 30px;
}

.form-item {
    &:last-of-type {
        &:last-of-type {
            margin-top: 25px;
        }
    }
}

.data-item-label {
    display: block;
    font-size: 0.875em;
    padding-bottom: 10px;
    padding-top: 10px;
    &:last-of-type {
        display: inline-block;
    }
}

.data-item-desc {
    font-size: 2em;
    font-family: $font-secondary;
}

.data-item-block-link {
    display: block;
}

.icon-close {
    @include position(40px, 30px);
    font-size: 1.125em;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}

.radio-toolbar {
    margin: 10px 0;
    user-select: none;
  }

.radio-field {
    position: fixed;
    opacity: 0;
    width: 0;
    &:checked {
        & + .primary-field {
            &.radio {
                background-color: $color-light;
                border-color: $color-light;
                color: $color-secondary;
                cursor: default;
            }
        }
    }
}

.primary-field {
    &.radio {
        display: inline-block;
        padding: 12px 50px;
        font-family: $font-tertiary;
        font-size: 1em;
        border-color: $color-br-tertiary;
        color: $color-light;
        cursor: pointer;
        &:first-of-type {
            margin-right: 10px;
        }
        &:hover {
            background-color: $color-tertiary;
            border-color: $color-tertiary;
        }
    }
}

// ---------------------- Customize checkbox -------------------------

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}
  
.checkbox-field {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.icon-check {
    @include position(5px, auto, auto, 0);
    height: 25px;
    width: 25px;
    background-color: $color-br-primary;
    border-radius: $br-default;
    font-size: 0;
}
  
.checkbox-container {
    .checkbox-field {
        &:checked ~ .icon-check {
            font-size: 1.25em;
        }
    }
}
  
.checkbox-text {
    font-size: 0.75em;
    display: inline-block;
    margin-left: 40px;
    .data-item-block-link {
        color: $color-secondary;
    }
}