.footer-text {
    font-size: 0.875em;
    line-height: 24px;
    color: $color-text-primary;
    text-transform: capitalize;
}

.footer-block {
    @extend .footer-text;
    background-color: $color-light;
    padding: 70px 0 20px 0;
}

.footer-list {
    display: flex;
    align-items: baseline;
}

.footer-top-item {
    width: 23%;
    margin-left: 3%;
    &:first-of-type {
        width: 48%;
        margin-left: 0;
    }
}

.footer-head {
    font-size: 1.125em;
    font-family: $font-tertiary;
    line-height: 35px;
    color: $color-dark;
}

.footer-parag {
    line-height: 20px;
}

.footer-item-head {
    padding-bottom: 20px;
}

.footer-form {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-soc-link {
    margin-right: 25px;
    font-size: 1.125em;
    color: $color-text-soc;
    &:hover {
        color: $color-tertiary;
        opacity: 1;
    }
}

.primary-field.footer {
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.footer-btn {
    @include position(2px, 1px);
    transform: translateY(50%);
    padding: 11px;
    color: $color-light;
    background-color: $color-tertiary;
    border: 0 solid $color-br-primary;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer-mid {
    padding: 20px 0;
    border-top: 1px solid $color-br-primary;
}

.footer-mid-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-img {
    margin-right: 20px;
}

.footer-block.bot {
    background-color: $color-dark;
}

.footer-list {
    &.bot {
        align-items: flex-end;
        padding-bottom: 70px;
        border-bottom: 1px solid $color-primary;
    } 

    &.bot-down {
        align-items: center;
    }
} 

.footer-head.bot {
    color: $color-light;
}

.footer-bot-item {
    width: 23%;
    margin-right: 2.6%;

    &:last-of-type {
        margin-right: 0;
    }
}

.footer-bot-sm {
    width: 10%;
    margin-right: 2.5%;
}

.footer-bot-md {
    width: 30%;
    margin-right: 2.5%;
}

.footer-bot-lg {
    width: 45%;
    margin-right: 0;
    text-align: right;
    font-size: 1em;
    color: $color-light;
}

.arrow-up-wrapper {
    margin-left: 15px;
    width: 25px;
    height: 25px;
    border: 2px solid $color-primary;
    padding: 10px;
    border-radius: 50%;
    color: $color-light;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
        background-color: $color-light;
        border-color: $color-br-primary;
        color: $color-dark;
    }
}

.footer-block.bot.down {
    padding-top: 20px;
    padding-bottom: 30px;
}