header {
    max-width: 1440px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    & [class^="icon-"] {
        color: $color-icon-primary;
    }
}

.header-content-wrapper {
    position: relative;
    &.calendar {
        margin-left: 120px;
    }

    &.nav {
        @include position(auto, auto, auto, 25px);
        font-size: 1.5em;
    }

    &.stars {
        margin-left: 25px;
    }

    &.fav {
        margin-left: 25px;
        font-size: 1.5em;
    }

    &.search {
        margin-left: 40px;
    }

    &.logo {
        margin-left: 50px;
    }

    &.select {
        @include position(auto, 120px);
    }

    &.avatar {
        @include position(auto, 50px);
    }
}

.sel-list {
    &:hover {
        @include position(-18px, 100%);
        z-index: 10;
        .sel-item {
            display: block;
            padding: 15px 10px;
            background-color: $color-tertiary;
            border: 1px solid $color-light;
            border-radius: $br-default;
            color: $color-light
        }
    }
    .sel-item {
        display: none;
        margin-right: 25px;
        max-width: 250px;
        @include ofl-ellipsis;
        &:first-of-type {
            display: block;
            a::after {
                content: url($images-folder + "header/arrow-down.png");
                @include position(-3px, 0);
            }
        }
    }
}

.icon-star {
    position: relative;
    font-size: 1.5em;
    cursor: pointer;

    &.last-star {
        &::after {
            content: "";
            @include position(auto, auto, 10px, 10px);
            width: 20px;
            height: 20px;
            background-color: $color-light;
            border-radius: $br-rounded;
            border: 2px solid $color-tertiary;
        }
    }
}

.icon-nav {
    cursor: pointer;
}

.icon-calendar {
    position: relative;
    font-size: 1.5em;
    &::after {
        content: "";
        @include position(auto, auto, 10px, 10px);
        width: 20px;
        height: 20px;
        background-color: $color-light;
        border-radius: $br-rounded;
        border: 2px solid $color-tertiary;
    }
}

.header-mark {
    position: absolute;
    z-index: 10;
    font-family: $font-primary;
    font-size: 0.50em;
    color: $color-tertiary;
    &.calendar {
        @include position(-1px, 0px);
    }
    &.stars {
        @include position(-1px, 1px);
    }
}

.header-search {
    padding: 10px;
    border: 2px solid $color-br-primary;
    border-radius: $br-default;
}

.icon-search {
    @include position(50%, 0, auto);
    transform: translateY(-50%);
    font-size: 1.375em;
    padding: 8px;
    border-left: 1px solid $color-br-primary;
}

.logo-link {
    &:hover {
        opacity: 1;
    }
}

.logo {
    max-width: 192px;
    max-height: 57px;
}

.header-avatar {
    @include position(auto, auto, auto, 185px);
}

// ----------------------------- Nav-bar ------------------------------------

.nav-bar {
    @include position(0, null, null, 0, fixed);
    z-index: 999;
    height: 100%;
    width: 0;
    padding-top: 60px;
    overflow-x: hidden;
    transition: $trns-duration-lg;
    font-family: $font-quadratic;
    font-size: 1.8em;
    text-align: center;
    background-color: $color-secondary;
    color: $color-light;

    .icon-close {
        @include position(5%, 5%);
        display: block;
        font-size: 1.5em;
        opacity: unset;
        color: $color-bg-btn-2;
    }
}

.nav-bar-item {
    margin-bottom: 20px;
    &:last-of-type {
        margin-bottom: 0;
    }
}

.nav-bar-link {
    padding: 8px 8px 8px 32px;
    display: inline-block;
}

.nav-open {
    width: 100%;
}

.nav-close {
    width: 0;
}


