.home {
    width: auto;
}

.home-list {
    @include dsp-flex(wrap);
}

.home-item {
    position: relative;
    width: 25%;
    transition: $trns-delay;
    &:hover {
        .hover-content {
            opacity: $opacity-primary;
        }
    }
}

.home-img {
    width: 100%;
    height: 100%;
}

.hover-content {
    @include position(0, null, null, 0);
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: $opacity-none;
    color: $color-light;
    background-color: $color-primary;
}

.hover-inner {
    width: 100%;
}

.hover-link-outer {
    display: block;
}

.hover-link {
    display: inline-block;
    margin-top: 15px;
    border: 1px solid $color-light;
    border-radius: $br-rounded;
    &:hover {
        color: $color-custom;
        border-color: $color-custom;
    }
    i {
        margin-left: 2px;
    }
}

.hover-title {
    @include ofl-ellipsis;
    text-transform: capitalize;
    font-size: 1.5em;
}

.hover-desc {
    @include ofl-ellipsis;
    display: inline-block;
    text-transform: lowercase;
    font-size: 0.75em;
    margin-top: 5px;
    border-bottom: 1px solid $color-light;
}
