.home {
    width: 85%;
    @media (max-width: map-get($resolutions, sm)) {
        width: 100%;
    }
}

.home-list {
    @include dsp-flex(wrap);
}

.home-item {
    background-image: url("../img/photo-147.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: $perc-xs;
    &:hover {
        .hover-content {
            opacity: $opacity-primary;
        }
    }
}

.hover-content {
    text-align: center;
    opacity: $opacity-none;
    color: $color-light;
    background-color: $color-primary;
    padding: 20px 0;
}

.hover-inner {
    width: $perc-max;
}

.hover-link-outer {
    display: block;
}

.hover-link {
    display: inline-block;
    margin-top: 15px;
    border: 1px solid $color-light;
    border-radius: $br-rounded;
    &:hover {
        color: $color-custom;
        border-color: $color-custom;
    }
    i {
        margin-left: 2px;
    }
}

.hover-title {
    @include ofl-ellipsis;
    text-transform: capitalize;
    font-size: 1.5em;
}

.hover-desc {
    @include ofl-ellipsis;
    display: inline-block;
    text-transform: lowercase;
    font-size: 0.75em;
    margin-top: 5px;
    border-bottom: 1px solid $color-light;
}
