.info-rev {
    background-color: $color-bg-primary;
    padding-bottom: 45px;
}

.info-rev-cont {
    display: flex;
    margin-top: 20px;
}

.info-rev-left-wrapper {
    width: 66%;
    max-width: 750px;
    margin-right: 2%;
    line-height: 21px;
}

.info-rev-right-wrapper {
    max-width: 370px;
    text-align: right;
    width: 33%;
}

.block-wrapper.map {
    background-color: $color-bg-primary;
}

.map-img {
    width: 100%;
    max-width: 100%;
    max-height: 360px;
}

.block-wrapper.diners {
    margin-top: 34px;
    background-color: $color-light;
    padding: 20px 0;
    border-radius: $br-md;
    box-shadow: $box-shadow-primary;
}

.diners-head {
    @extend .clear-after;
    text-align: left;
    padding: 0 0 20px 20px;
    color: $color-primary;
    font-size: 1.125em;
    .icon-picture-shape {
        float: left;
        font-size: 1.5em;
        padding-right: 10px;
        padding-top: 0px;
    }
}

.diners-photos-item {
    display: inline;
    max-width: 33%;
    max-height: 125px;
}

.diners-photos-link {
    &:hover {
        opacity: 0.8;
    }    
}

.diners-photo {
    max-width: 33%;
    max-height: 125px;
}

.diners-photos-load {
    display: block;
    padding-top: 15px;
    text-align: center;
    color: $color-secondary;
    font-family: $font-tertiary;
    &:hover {
        opacity: 0.8;
    }  
}

// ------------------------------- Info left section --------------------------------

.block-wrapper.info {
    margin-bottom: 40px;
}

.info-item:last-of-type {
    margin-right: 0;
}

.info-sample-menu {
    display: block;
}

.sample-list-top {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid $color-br-primary;
}

.sample-item-top {
    margin-left: 45px;
    &:first-of-type {
        margin-left: 0;
    }
}

.button-primary.active {
    color: $color-secondary;
    border-color: $color-secondary;
}

.sample-item-link {
    color: $color-text-primary;
    &.active {
        padding: 0 20px 20px 20px;
        border-bottom: 2px solid $color-primary;
        color: $color-primary;
    }
}

.sample-item-bot-item {
    border-bottom: 1px solid $color-br-primary;
    padding: 20px;
}

.sample-item-bot-title {
    @include ofl-ellipsis;
    color: $color-dark;
    span {
        float: right;
    }
}

.sample-item-bot-desc {
    @include ofl-ellipsis;
    padding-top: 10px;
    font-size: 0.875em;
    color: $color-text-primary;
}

.info-open-times {
    display: none;
}

.info-open-times-item {
    padding: 20px;
    font-size: 1.125em;
    color: $color-dark;
}

.info-open-times-day {
    @include ofl-ellipsis;
    display: inline-block;
}

.info-open-times-day {
    width: 20%;
    max-width: 120px;
    vertical-align: top;
    display: inline-block;
}

.info-open-times-time {
    display: inline-block;
    max-width: 70%;
}

.info-more-details {
    display: none;
}

.info-more-details-item {
    padding: 20px;
    font-size: 1.125em;
    color: $color-dark;
    &:last-of-type .info-more-details-desc {
        width: 70%;
    }
}

.info-more-details-title {
    display: inline-block;
    width: 22%;
    margin-right: auto;
    vertical-align: top;
}

.info-more-details-desc {
    display: inline-block;
    width: 30%;
    margin-left: 20px;
    font-size: 0.875em;
    color: $color-text-primary;
}

.info-more-details-desc .button-secondary {
    margin-bottom: 10px;
    background-color: $color-bg-btn-4;
}

// ---------------------------- Reviews ------------------------------

.block-wrapper.rev {
    margin-top: 20px
}

.rev-list {
    font-size: 0.875em;
}

.rev-item {
    border-bottom: 1px solid $color-br-primary;
    padding: 20px;
}

.rev-item-left {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.rev-item-right {
    display: inline-block;
    width: 88%;
    &.active {
        padding: 20px;
        margin-top: 20px;
        width: 100%;
        background-color: $color-bg-primary;
        border-radius: $br-md;
    }
}

.rev-item-right-info  {
    padding-bottom: 5px;
    &.info-date {
        margin-left: 20px;
    }
    &.user {
        font-family: $font-tertiary;
        color: $color-primary;
    }

    &.date {
        margin-left: 10px;
    }
}

.rev-item-right-comment {
    padding-top: 5px;
}

.button-primary {
    i {
        margin-right: 10px;
    }
}

.rev-item-right-stars {
    font-size: 1.125em;
}

