.info {
    @include position(0, 0, null, null, fixed);
    text-align: right;
}

.icon-info-wrapper {
    display: inline-block;
    padding: 10px;
    background: $color-primary;
    cursor: pointer;
    &:hover {
        .icon-info-inner {
            color: $color-custom;
            border-color: $color-custom;
        }
    }
}

.icon-info-inner {
    display: inline-block;
    padding: 10px 15px;
    color: $color-light;
    background-color: $color-primary;
    border: 1px solid $color-light;
    border-radius: $br-rounded;
    font-size: 1.75em;
 }

.info-list {
    display: none;
    visibility: hidden;
    opacity: $opacity-primary;
    padding-left: 18px;
    padding-right: 80px;
    font-size: 1.25em;
    text-align: left;
    background-color: $color-dark;
    color: $color-light;
    transition: background-color $trns-duration-md;
    &:hover {
        background-color: $color-primary; 
        opacity: $opacity-default;
    }
}

.info-item {
    padding-bottom: 20px;
    &:first-of-type {
        padding-top: 20px;
    }
}

.info-text {
    font-size: 1em;
    margin-left: 12px;
}
