.intro {
    background-color: $color-bg-primary;
    padding-bottom: 45px;
}

.intro-pagination {
    font-size: 0.875em;
    padding: 20px 0;
    text-transform: capitalize;
}

.intro-pagination-list {
    display: flex;
}

.intro-pagination-item {
    margin-right: 10px;
}

.intro-pagination-link {
    &:hover {
        color: $color-secondary;
    }
}

.link-divider {
    padding: 0 5px;
}

.slider {
    position: relative;
    box-shadow: $box-shadow-primary;
}

.slider-item {
    @include bg-img(null, no-repeat, cover, $color-bg-primary, top);
    position: relative;
    text-align: center;
    height: 450px;
    max-height: 450px;
    border: none;
    border-radius: $br-default;
    &::before {
        content: "";
        @include position(0, auto, auto, 0);
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background: $color-primary;
    }
}

.owl-prev, .owl-next {
    span {
        font-size: 3em;
        padding: 10px;
    }
}

.owl-dots {
    @include position(90%, auto, auto, 50%);
    transform: translateX(-50%);
}

.slider-content {
    @include position(50%);
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.slider-top-text {
    color: $color-text-primary;
    margin-bottom: 20px;
}

.slider-bottom-text {
    font-size: 1.125em;
    color: $color-light;
    margin-top: 40px;
}

.slider-central-text {
    font-size: 4.5em;
    color: $color-light;
}

.popup {
    @include position(362px, 0);
    background: $color-bg-popup;
    color: $color-light;
    z-index: 10;
    border-radius: $br-md;
    width: 262px;
    font-size: 0.875em;
}

.popup-top-content {
    position: relative;
    padding: 25px 20px 17px 20px;
    border-bottom: 1px solid $color-br-secondary;
    .number {
        margin-right: 5px;
    }
}

.popup-head {
    font-family: $font-tertiary;
    margin-bottom: 10px;
    font-size: 1.125em;
}

.popup-avatar {
    @include position(30px, 10px);
    width: 100%;
}

.popup-bottom-content {
    position: relative;
    padding: 15px 20px;
    font-family: $font-tertiary;
    span {
        margin-left: 5px;
    }
}

// -------------------------- Mention ----------------------------

.mention-top-wrapper {
    display: flex;
    align-items: center;
    padding: 20px 0;
    & > * {
        margin-right: 10px;
    }
}

.mention-bottom-wrapper {
    display: flex;
    margin-top: 20px;
}

.mention-bottom-desc {
    width: 68%;
    margin-left: 4%;
}

.mention-bottom-details-title,
.mention-bottom-desc-title {
    color: $color-primary;
    margin-bottom: 25px;
}

.mention-bottom-desc-text {
    line-height: 25px;
}

.mention-stars-wrapper {
    font-size: 1.2em;
}

.mention-top-wrapper { 
    .btn-left {
        margin-left: 5px;
        background-color: $color-bg-btn-1;
    }

    .btn-right {
        background-color: $color-bg-btn-2;
    }
}

.mention-bottom-details {
    width: 28%;
}

.mention-list-item {
    display: flex;
    padding: 5px 0;
}

.text-left {
    @include ofl-ellipsis;
    width: 28%;
    margin-right: 4%;
}

.text-right {
    width: 68%;
}

