.menu {
    min-width: 300px;
    min-height: 100vh;
    text-align: right;
    background-color: #242b2e;
}

.logo-container {
    text-align: center;
    background-color: #fff;
    
}

.logo-link {
    display: inline-block;
    margin-top: 48px;
    margin-bottom: 35px;
}

.nav-list {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.nav-item {
    border-bottom: 1px solid #202426;
    &:hover {
        background-color: #fff;
        color: #242b2e;
    }
    &.active {
        background-color: #2fbab8;
        border-color: #169291;
        &:hover {
            color: #fff;
        }
        .nav-link {
            cursor: default;
        }
    }

    .nav-link {
        padding: 25px;
        display: block;
    }
}

.filter-container {
    padding-bottom: 10px;
    border-bottom: 1px solid #202426;

    h3 {
        color: #1d9090;
        font-size: 19px;
        padding: 25px;

        i {
            margin-left: 12px;
        }
    }
}

.filter-list {
    color: #6b7072;
    font-size: 13px;
    text-transform: lowercase;
}

.filter-item {
    padding-right: 25px;
    padding-bottom: 15px;
}

.filter-link {
    &:hover {
        color: #fff;
    }
    &.active {
        color: #fff;
        text-transform: uppercase;
        cursor: default;
    }
}

.socials-container {
    padding: 25px;
}

.socials-list {
    color: #fff;
    font-size: 20px;
}

.socials-item {
    display: inline-block;
    margin-left: 5px;
    border-radius: 4px;
    padding: 2px;
    padding-bottom: 0;

    &.flickr {
        background-color: #fff;
        color: #ff008b;
    }
    &.tumbler {
        background-color: #d24f26;
    }
    &.twitter, &.vimeo {
        background-color: #39bde8;
    }
    &.pinterest {
        background-color: #e63527;
    }
    &.dribbble {
        background-color: #ff6cbe;
    }
    &.facebook {
        background-color: #345091;
    }
}

.rights-text {
    margin-top: 22px;
    font-size: 12px;
}

