@media (max-width: $screen-xxs) {

    // ------------------- Header ---------------------

    .logo {
        max-width: 75px;
        max-height: 25px;
    }

    .header-content-wrapper {
        .search {
            margin-left: 35px;
            .primary-field {
                width: 70%;
                &::placeholder {
                    font-size: 0.75em;
                }
            }
    
            .icon-search {
                right: 30px;
                top: 1px;
                font-size: 0.8em;
            }
        }
        .icon-nav {
            font-size: 1.2em;
        }
    }

    .form-wrapper {
        .button-primary {
            padding: 8px 20px;
        }
    }

    // -------------------------- intro ------------------------------

    .slider-item {
        max-height: 250px;
    }

    .slider-central-text {
        font-size: 1.6em;
    }

    // ---------------------- footer ----------------------------

    .footer-bot-md {
        width: 27%;
    }

    .footer-top-item {
        width: 37%;
    }

}