// paths ---------------------------
$fonts-folder: "../fonts";
$images-folder: '../img/';

// fonts ---------------------------
$font-primary: "Robotolight", serif;
$font-secondary: "Robotothin", serif;
$font-icons: "icomoon-kappe";

// Color Usage ---------------------------
$color-light: #fff;
$color-dark: #000;
$color-primary: #1ab5b3;
$color-custom: #FFDD00;

// Text Base Colors ---------------------------
$color-text-primary: #6b7072;

// Background Base Colors ---------------------------
$color-bg-primary: #242b2e;

// Social Icons Background Colors ---------------------------
$social-colors: (
    flickr: #fbfbfb,
    tumbler: #d24f26,
    twitter: #3bbee9,
    pinterest: #dd3427,
    dribbble: #ff69bd,
    vimeo: #3bbee9,
    facebook: #375395
);

// Border Colors ---------------------------
$color-br-primary: #202426;
$color-br-secondary: #169291;

// Text ---------------------------
$font-bs: 16px;
$font-lg: 15px;
$font-md: 14px;
$font-sm: 13px;

// Border Radiuses ---------------------------
$br-default: 4px;
$br-md: 10px;
$br-lg: 30px;
$br-rounded: 50%;
$br-none: 0;

// Transitions ---------------------------
$trns-duration: .3s;
$trns-duration-md: 0.5s;
$trns-duration-lg: 1s;
$trns-delay: 50ms;

// Opacities ---------------------------
$opacity-default: 1;
$opacity-none: 0;
$opacity-primary: 0.8;
$opacity-secondary: 0.6;

// Box Shadow
$box-shadow-primary: 10px 0 20px 10px rgba(36, 43, 46, $opacity-secondary);

// Gradients ---------------------------
$ln-grad-primary: inear-gradient(#333a3e, #2f373b);
$ln-grad-secondary: linear-gradient(#22adab, #24afad);

// Z-index ---------------------------
$z-index-min: 0;
$z-index-mid: 10;
$z-index-max: 100;

// Percents ---------------------------
$perc-min: 0;
$perc-xs: 25%;
$perc-sm: 33.33%;
$perc-md: 50%;
$perc-max: 100%;

// Container
$cont-width: 300px;
$cont-padding: 0px;

// Resolutions ---------------------------
$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;
$screen-xxs: 360px;

// Multiply size values for all devices
$mlp-lg: 0.9;
$mlp-md: 0.8;
$mlp-sm: 0.7;
$mlp-xs: 0.6;