//paths
$fonts-folder: "../fonts";
$images-folder: '../img/';

//fonts
$font-primary: "Robotolight", serif;
$font-secondary: "Robotothin", serif;
$font-icons: "icomoon-kappe";

//Color Usage
$color-light: #fff;
$color-dark: #000;
$color-primary: #1ab5b3;
$color-custom: #FFDD00;
// $color-secondary: #358ed7;
// $color-tertiary: #7dc855;

//Text Base Colors
$color-text-primary: #6b7072;
// $color-text-soc: #dee2e7;

//Background Base Colors
$color-bg-primary: #242b2e;
// $color-bg-secondary: #f0f3f6;
// $color-bg-popup: #838cc7;
// $color-bg-btn-1: #53bbb3;
// $color-bg-btn-2: #e74a4a;
// $color-bg-btn-3: #2F8CDA;
// $color-bg-btn-4: #bdc6cf;
// $color-bg-btn-disabled: #d9d9d9;

// Social Icons Background Colors
$social-colors: (
    flickr: #fbfbfb,
    tumbler: #d24f26,
    twitter: #3bbee9,
    pinterest: #dd3427,
    dribbble: #ff69bd,
    vimeo: #3bbee9,
    facebook: #375395
);

//Font Icon Base Colors
$color-icon-primary: #fff;
// $color-icon-secondary: #afa072;

// Border Colors
$color-br-primary: #202426;
$color-br-secondary: #169291;
// $color-br-tertiary: #5da5df;

//Text
$base-font-size: 16px;

//Border Radiuses
$br-default: 4px;
$br-md: 10px;
$br-lg: 30px;
$br-rounded: 50%;
$br-none: 0;

// Transitions
$trns-duration: .3s;
$trns-duration-md: 0.5s;
$trns-duration-lg: 1s;
$trns-delay: 50ms;

// Box Shadow
// $box-shadow-primary: 0 0 8px rgba(0.5,0.5,0.5,0.2);

// Gradients
$ln-gradient-primary: inear-gradient(#333a3e, #2f373b);
$ln-gradient-secondary: linear-gradient(#22adab, #24afad);

//Container
// $cont-width: 1138px;
// $cont-padding: 0px;

//Resolutions
$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;
$screen-xxs: 360px;

// Responsive multiply size values
// $mlp-val-lg: 0.9;
// $mlp-val-md: 0.8;
// $mlp-val-sm: 0.7;
// $mlp-val-xs: 0.6;