$icon-nav: "\e902";
$icon-calendar: "\e903";  
$icon-star: "\e904";
$icon-search: "\e906";  
$icon-add-to-fav: "\e901";  
$icon-arrow-down: "\1f317";
$icon-arrow-up: "\1f318";
$icon-comment: "\e900";
$icon-arrow-left: "\e905";
$icon-arrow-right: "\e907";
$icon-picture-shape: "\e908";
$icon-send: "\e90d";
$icon-facebook: "\e909";
$icon-google-plus: "\e90a";
$icon-instagram: "\e90b";
$icon-rss: "\e90c";
$icon-twitter: "\e90e";
$icon-close: "\e90f";
$icon-check: "\e910";